process {
    withName: '.*:BAM_VARIANT_CALLING_SOMATIC_ALL:BAM_VARIANT_CALLING_FREEBAYES:FREEBAYES' {
        ext.args = {"--pooled-continuous \
                    --min-alternate-fraction 0.05 \
                    --min-alternate-count 2 " }
    }
    withName: 'FREEBAYES'{
        memory = 160.GB
    }
    withName: 'NFCORE_SAREK:SAREK:POST_VARIANTCALLING:VCF_VARLOCIRAPTOR_SOMATIC:MERGE_GERMLINE_SOMATIC_VCFS' {
        ext.args   = { '--output-type z --force-samples' } 
    }
    withName: 'ALIGNMENTPROPERTIES_NORMAL|ALIGNMENTPROPERTIES_TUMOR|PREPROCESS_TUMOR|PREPROCESS_NORMAL' {
        memory = 470.GB
    }
    withName: 'VARLOCIRAPTOR_CALLVARIANTS' {
        time  = 48.h
    }
}